@page "/fetchresources"
@using Microsoft.AspNetCore.Authorization
@*@using Trainor.Storage.Entities*@
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Trainor.Wasm.Shared
@inject HttpClient Http

<h1>Hej</h1>

<p>This component demonstrates fetching data from the server.</p>
@*
@if (resources== null)
{
    <p><em>Loading...</em></p>
    <p><em>@otherFailMessage</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          @foreach (var resource in resources)
            {
                <tr>
                    <td>@resource.name</td>
                    <td>@resource.name</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@code {/*
    private ResourceDto[] resources;
    private string otherFailMessage = "";
    protected override async Task OnInitializedAsync()
    {
        try
        {
            resources = await Http.GetFromJsonAsync<ResourceDto[]>("Test");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception ex){
            otherFailMessage = ex.Message;
        }
    */}

}
