@page "/resultpage"

<style>
    @@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
    @@import url('https://css.gg/arrow-left.css');
</style>

<!DOCTYPE html>
<html>
<body>
    <div class ="container">
        
        @* THIS IS THE FILTER PART OF THE SITE *@
        <div class = "filtersContainer">

         <img class = "BackButtonImage" src="images/backButton.png" alt="Image is not showing" width="30px" @onclick = "NavigateToSearchPage" /> 
           
            <div class = "filtersNoSignOut">
                <p class = "headerText">Relevant Filters</p>
                <ul>
                    <div class = "ListItem">
                        <li>C#</li>
                        <img class = "downArrow" src = "images/downButton.png" alt = "Image is not showing">
                    </div>
                    <div class = "ListItem">
                        <li>Distributed Systems</li>
                        <img class = "downArrow" src = "images/downButton.png" alt = "Image is not showing">
                    </div>
                    <div class = "ListItem">
                        <li>Introduction to Database</li>
                        <img class = "downArrow" src = "images/downButton.png" alt = "Image is not showing">
                    </div>
                </ul>
            </div>

            @* sign out part *@
            <div class = "filtersWithSignOut">
                <img class ="imageSignOut" src="images/signOutWhite.png" alt="Image is not showing" @onclick = "NavigateToLoginPage"/>
                 <div class ="imageSignOutText">                                
                    <p>Sign out</p>
                </div>
            </div>
        </div>

        @* THIS IS THE RESOURCE DISPLAY OF THE SITE *@
        <div class = "resourcesContainer">

            @* Searchbar *@
            <div class = "searchField">    
                <div class="searchBar">
                    <img class ="forstorelsesglas" src="images/magnifyingGlass.png" alt="Image is not showing"/>
                    <div class="searchInput">
                        <input class="input" type="text">
                    </div>
                </div>
                <input class = "searchButton" type = "image" src = "images/searchButton.png">
            </div>  

            @* Resources displayed part *@  
            <div class = "displayAllResources">
                <div class = "All">
                    <h2>All</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                </div>
                <div class = "CResource">
                    <h2>C #</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                </div>
                <div class = "Disys">
                    <h2>DISYS</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                </div>
                <div class = "Database">
                    <h2>Database</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                </div>
            </div>
            
        </div>
        
        <div class = "placeHolderResources"></div>

    </div>
</body>
</html 


@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    
    @* Making it possible to navigate to ResultPage *@
    public void NavigateToSearchPage()
    {
        NavigationManager.NavigateTo("/searchpage");
    }

    public void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo("/");
    }

}
