@page "/resultpage"

<style>
    @@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
    @@import url('https://css.gg/arrow-left.css');
</style>

<!DOCTYPE html>
<html>
<body>
    <div class ="container">
        
        @* THIS IS THE FILTER PART OF THE SITE *@
        <div class = "filtersContainer">

         <img class = "BackButtonImage" src="images/backButton.png" alt="Image is not showing" width="30px" @onclick = "NavigateToSearchPage" /> 
           
            <div class = "filtersNoSignOut">
                <p class = "headerText">Relevant Filters</p>
                <p class = "filterText"> Filter #1</p>
                <p class = "filterText"> Filter #2</p>
                <p class = "filterText"> Filter #3 <span class="gg-push-chevron-down"> </span> </p> 
             </div>

            <div class = "filtersWithSignOut">
                <img class ="imageSignOut" src="images/signOutWhite.png" alt="Image is not showing" @onclick = "NavigateToLoginPage"/>
                 <div class ="imageSignOutText">                                
                    <p>Sign out</p>
                </div>
            </div>
        </div>

        @* THIS IS THE RESOURCE DISPLAY OF THE SITE *@
        <div class = "resourcesContainer">
            <p>resourcesContainer</p>
            <div class="searchBar">
                    <img class ="forstorelsesglas" src="images/magnifyingGlass.png" alt="Image is not showing"/>
                    <div class="searchInput">
                        <input class="input" type="text">
                    </div>
                </div>
            
        </div>
        
        <div class = "placeHolderResources"></div>
    </div>
</body>
</html 


@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    
    @* Making it possible to navigate to ResultPage *@
    public void NavigateToSearchPage()
    {
        NavigationManager.NavigateTo("/searchpage");
    }

    public void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo("/");
    }

}
