html, body {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
}

#p {
    color: aqua;
}

/* This is controlling the dimensions of the page and how divs should be displayed  */
.container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    background-color: aqua;
}

/* IN RELEVANCE TO FILTERS */
.filtersContainer {
    background-color: rgba(62, 198, 255, 1);
    width: 100%;
    height: 100%;
    flex: 1;
    color: white;
}

.headerText{
    font-size: 40px;
    font-family: garamond; /* Font der ligner bedst logofont */
    color: white;
    text-align: center;
    background-color: rgb(0, 201, 255);
    flex: 1;
}

.filterText{
    font-size: 20px;
    font-family: garamond;
    color: white;
    margin-left: 7%;
    margin-right: 7%;
}

/* IN RELEVANCE TO SIGNOUT */
.imagePlaceholder {
    display: flex;
    position: absolute;
    margin-top: 48%;
    justify-content: flex-start;
    align-items: flex-start;
}

.imageSignOut {
    /* background-color: rgba(62, 198, 255, 1); */
    color: white;
    width: 40px;
    height: 40px;
}

.imageText {
    font-size: 18px;
    color: white;
    /* color: rgba(62, 198, 255, 1); */
    text-align: center;
    vertical-align: middle;
    line-height: 70%;
    padding-left: 1%; 
}


/* IN RELEVANCE TO THE RECOURCES */
.resourcesContainer {
    background-color: darkorchid;
    width: 100%;
    height: 100%;
    flex: 2;
}

.placeHolder {
    flex: 0;
}