@page "/resultpage"

<style>
    @@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
    @@import url('https://css.gg/push-chevron-down.css');
</style>

<!DOCTYPE html>
<html>
<body>
    <div class ="container">
        
        @* THIS IS THE FILTER PART OF THE SITE *@
        <div class = "filtersContainer">
            <div >
                <p class = "headerText">Back button??</p>
                 <p class = "headerText">LOPREM IPSUM</p>
                 <p class = "filterText"> Filter </p>
                 <p class = "filterText"> Filter </p>
                <p class = "filterText"> Filter</p> 
                <i class="gg-push-chevron-down"></i>
            </div>

            <div class = "imagePlaceholder">
                <img class ="imageSignOut" src="images/signout.png" alt="Image is not showing"/>
                <div class ="imageText">
                    <p>Sign out</p>
                </div>
            </div>

        </div>
        
        @* THIS IS THE RESOURCE DISPLAY OF THE SITE *@
        <div class = "resourcesContainer">
            <p>resourcesContainer</p>
            
        </div>
        
        <div class = "placeHolder"></div>

    </div>
</body>
</html 