html, body {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
}

/* This is controlling the dimensions of the page and how divs should be displayed  */
.container {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

/* IN RELEVANCE TO FILTERS */
.filtersContainer {
   /*  background-color: rgba(62, 198, 255, 1); */
    background-color: rgb(0, 201, 255);
    width: 100%;
    height: 100vh;
    flex: 1;
}

.filtersNoSignOut {
    background-color:rgb(0, 201, 255);
    
}

.filtersWithSignOut {
    position: fixed;
    margin-top: 25%;
    display: flex;
    position: absolute;
    width: 100%;
}

.headerText{
    font-size: 40px;
    font-family: garamond; /* Font der ligner bedst logofont */
    color: white;
    text-align:left;
    background-color: rgb(0, 201, 255);
    flex: 1;
    margin-left: 7%;
}

.BackButtonImage {
    margin-left: 50%;
    margin: 2%;
    cursor: pointer;
}

.ListItemGeneral {
    font-size: 20px;
    font-family: garamond;
    color: white;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5%;
    
}

.listItemWithCheckbox[type="checkbox"] {
    height: 19px;
    width: 19px;
    margin-right: 2%;
    margin-bottom: 2%;
}

.listItemNotGeneral {
    font-size:15px;
    font-family: garamond;
    color: white;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 3%;
}

/* skal fjernes på et tidspunkt. Bliver ikke brugt lige nu*/
.filterText{
    font-size: 20px;
    font-family: garamond;
    color: white;
    margin-left: 7%;
    margin-right: 7%;
}

/* IN RELEVANCE TO SIGNOUT */
.imageSignOut {
    /* background-color: rgba(62, 198, 255, 1); */
    color: white;
    width: 40px;
    height: 40px;
    margin-left: 1%;
    cursor: pointer;
}


.imageSignOutText {
    font-size: 18px;
    color: white;
    text-align: left;
    line-height: 15%;
    padding-left: 1%; 
}



/* IN RELEVANCE TO THE SEARCHBAR */
.resourcesContainer {
    width: 100%;
    height: 100%;
    flex: 2;
    
}

.searchField {
    display: flex;
    width: 100%;
    height: 5%;
    margin-top: 5%;
}

.searchBar{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    height: 100%;
    width: 80%;
    margin-left: 5%;
}

.forstorelsesglas {
    Width: 20px;
    Height: 20px; 
    padding-left: 2%;
    padding-top: 1%;
}

.searchInput {
    flex: 1.5;
    width: 100%;
    height: 100%;
}

.input {
    font-size: 25px;
    color: rgba(80, 77, 77, 1);
    background-color: transparent;
    font-family: garamond;
    border: none;
    outline: none;
    padding-left: 2%;
    height: 100%;
    width: 100%;
}

.searchButton {
    background-color: #3EC6FF;
    border-radius: 25px;
    margin-left: 2%;
    width: 40px;
    height: 40px;
} 

/* IN RELEVANCE TO DISPLAY OF SINGLE RESOURCES */
.displayAllResources {
    display: inline-table;
    padding: 10%;
}


/* A PLACEHOLDER - don't think it does anything */
.placeHolderResources {
    flex: 0;
}
