@page "/searchpage"

<style>
    @@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
</style>

<!DOCTYPE html>
<html>
<body>

    @* The container div has a flex display and contains all divs shown below *@
    <div class="container">

        @* Everything in this div is related to the signOut div.*@
        <div class="signOutContainer">
            <div class="imagePlaceholder">
                    <img class ="imageSignOut" src="images/signout.png" alt="Image is not showing"/>
                <div class ="imageText">
                    <p>Sign out</p>
                </div>
            </div>
        </div>

        @* 
            Everything in this div contains the middle part of the page:
                1. The logo
                2. The searchField
                3. The searchButton
        *@
        <div class="middleContainer">
            @* Title HTML *@
            <div class="middleTitle">
                <img class = "LogoImage" src="images/Logo.png" alt="Image is not showing" width="300px" /> 
            </div>
            
            @* Searchfield HTML *@
            <div class="searchField">
                <div class ="placeholderSearch"></div>
                @* This div holds the search bar and the magnifying glass image *@
                <div class="searchBar">
                    <img class ="forstorelsesglas" src="images/magnifyingGlass.png" alt="Image is not showing"/>
                    <div class="searchInput">
                        <input class="input" type="text">
                    </div>
                </div>
                @* <img class ="searchButton" src="images/searchButton.png"/> *@
                <button @onclick = "NavigateToResult" class = "searchButton"> <img class ="searchButton" src="images/searchButton.png"/> </button> 
                @* <button class = "searchButton" @onclick="NavigateToResult"> Navigate to ResultPage, hopefully </button>  *@
            </div> 
        </div> 

        @* 
            Placeholder HTML. This div doesn't really do anything, 
            except making sure the middlepart is actually in the middle
        *@
        <div class="placeholder"></div>
    </div>
</body>
</html>


@* Copied from Login.razor? It this okay? *@
@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    
    @* Making it possible to navigate to ResultPage *@
    public void NavigateToResult()
    {
        NavigationManager.NavigateTo("/resultpage");
    }
}