@page "/searchpage"
<style>
@@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
</style>

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="signOutContainer">
            <div class="imagePlaceholder">
                <div class ="imageSignOut"></div>
                <div class ="imageText">
                    <p>Sign out</p>
                </div>
            </div>
        </div>
        <div class="middleContainer">
            @* Title HTML *@
            <div class="middleTitle">
                <p>Lorem Ipsum</p>
            </div>
            
            @* Searchfield HTML*@
            <div class="searchField">
                <div class ="placeholderSearch"></div>
                <div class="searchBar">
                    <div class="forstorelsesglas"></div>
                    <div class="searchInput">
                        <input class="input" type="text">
                    </div>
                </div>
                <div class="searchButton"></div>
            </div> 
        </div> 

        @* Placeholder HTML*@
        <div class="placeholder"></div>
    </div>
</body>
</html>